# Ignore Python files
*.pyc

# Ignore files build by Visual Studio
/.vs
*.obj
*.pdb
*.aps
*.vcxproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf

# Ignore some Maya folders and config files
/maya/projects
/maya/synColor
/maya/mayaLog
/maya/2016/prefs/scriptEditorTemp
/maya/2016/prefs/MayaInterfaceScalingConfig
/maya/2016/prefs/renderNodeTypeFavorites
