# Ignore Python files
*.pyc

# Ignore files build by Visual Studio
/.vs
*.obj
*.pdb
*.aps
*.vcxproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf

# Ignore some Maya folders and config files
/maya/projects
/maya/synColor
/maya/mayaLog
/maya/2016/Maya.env
/maya/2016/prefs/mainWindowStates
/maya/2016/prefs/markingMenus
/maya/2016/prefs/scriptEditorTemp
/maya/2016/prefs/shelves
/maya/2016/prefs/filePathEditorRegistryPrefs.mel
/maya/2016/prefs/MayaInterfaceScalingConfig
/maya/2016/prefs/menuSetPrefs.mel
/maya/2016/prefs/MTKShelf.mel
/maya/2016/prefs/pluginPrefs.mel
/maya/2016/prefs/renderNodeTypeFavorites
/maya/2016/prefs/synColorConfig.xml
/maya/2016/prefs/synColorConfig.xml.lock
/maya/2016/prefs/synColorFileRules.xml
/maya/2016/prefs/userPrefs.mel
/maya/2016/prefs/userRunTimeCommands.mel
/maya/2016/prefs/windowPrefs.mel
